$color-blue-dark: rgb(41, 95, 166);
$color-blue-light: rgb(39, 185, 242);
$color-gray-dark: rgb(60, 73, 89);
$color-gray-light: rgb(66, 79, 98);
$color-green: rgb(121, 191, 52);
$color-white-light: rgb(242, 242, 242);
$color-light: rgba(0, 0, 0, 0.6);
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
$text-white: rgb(236, 236, 236);