.btn {
    border: none;
    padding: .7rem 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: .5rem;
}

.btn-jobs {
    color: $text-white;
    background-color: royalblue;
}

.address {
    color: $text-white;
    font-size: 1.3rem;
    text-decoration: none;
    &:hover {
        text-decoration: royalblue;
        color: royalblue;
    }
}

.active {
    color: royalblue;
    background-color: darken($color-gray-dark, 10%);
    border-bottom: 3px solid royalblue;
}

.big {
    font-size: 1.7rem;
    font-weight: bold;
}