*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: sans-serif;
    background-color: #555;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    padding: 2rem;
}

.close-box {
    width: 60%;
    height: 10rem;
    margin: 3rem;
    font-size: 2rem;
    color: white;
    padding: 1rem;
    padding-top: 3rem;
    /* box-shadow: 0px 0px 10px rgb(172, 172, 172); */
    border-radius: 1rem;
    animation-name: shadow;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.box-1 {
    background-color: royalblue;
}

.box-2 {
    background-color: steelblue;
}

.box-3 {
    background-color: #333;
}

.box-4 {
    background-color: rebeccapurple;
}

.close {
    font-size: 3rem;
    color: white;
    text-decoration: none;
    float: right;
    margin-top: 0rem;
    margin-right: 1rem;
    cursor: pointer;
}

.close:hover {
    color: rgb(121, 121, 121);
}

.close::selection {
    background-color: transparent;
}

@keyframes shadow {
    0% {
        /* box-shadow: 0px 0px 0px rgb(179, 179, 179); */
    }
    100% {
        box-shadow: 0px 0px 10px rgb(245, 243, 243);
        transform: scale(1.01)
    }
}